<ion-header [translucent]="true">
  <ion-toolbar class="headr">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="headr text">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><a [routerLink]="['/Login']">Login</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card *ngIf="!islooaded">
      <ion-item class="half">
        <ion-label position="floating">Full names :</ion-label>
        <ion-input [(ngModel)]="portHole.fullnames" name="fullName" id="fullNameId"></ion-input>
      </ion-item>
      <ion-item class="half">
        <ion-label position="floating">Cell number :</ion-label>
        <ion-input [(ngModel)]="portHole.cellnumber" name="cellNumber" id="cellNumberId"></ion-input>
      </ion-item>
      <ion-item class="full">
        <ion-label>Select issue</ion-label>
        <ion-select [(ngModel)]="portHole.issueType" name="issueName" id="issueNameId" placeholder="Select One">
          <ion-select-option value="PortHoles">PortHoles</ion-select-option>
          <ion-select-option value="PortHoles">Street Lights</ion-select-option>
          <ion-select-option value="PortHoles">Robots</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="full blockHeading">
        <ion-label><strong>Location : </strong></ion-label>
      </ion-item>
      <ion-item class="half">
        <ion-label>Select province</ion-label>
        <ion-select [(ngModel)]="portHole.location.province" name="provinceName" id="provinceNameId"
          placeholder="Select province" (ionChange)="provinceSelected($event)">
          <ion-select-option *ngFor="let province of provinces" value="{{province.id}}">{{province.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="provinceCities.length !== 0" class="half">
        <ion-label>Select city</ion-label>
        <ion-select [(ngModel)]="portHole.location.city" (ionChange)="provinceCitySelected($event)" name="cityName"
          id="cityNameId" placeholder="Select city">
          <ion-select-option *ngFor="let provinceCity of provinceCities" value="{{provinceCity.id}}">
            {{provinceCity.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="cityManucipalities.length !== 0" class="half">
        <ion-label>Select manucipality</ion-label>
        <ion-select [(ngModel)]="portHole.location.manucipality" name="manucipalityName" id="manucipalityNameId"
          placeholder="Select manucipality">
          <ion-select-option *ngFor="let manucipality of cityManucipalities" value="{{manucipality.id}}">
            {{manucipality.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="cityManucipalities.length !== 0" class="half">
        <ion-label>Select road type</ion-label>
        <ion-select [(ngModel)]="portHole.roadType" (ionChanged)="cityManucipalitySelected($event)" name="roadTypeName"
          id="roadTypeNameId" placeholder="Select road type">
          <ion-select-option value="National">National road</ion-select-option>
          <ion-select-option value="Manucipal">Manucipal road</ion-select-option>
          <ion-select-option value="Provencial">Provencial road</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="cityManucipalities.length !== 0" class="full blockHeading">
        <ion-label>Photo :</ion-label>
      </ion-item>
      <ion-item *ngIf="cityManucipalities.length !== 0" class="half blockHeading">
        <input type='file' (change)="onFileChanged($event)" />
        <img src={{url}} style="height: 250px;">
      </ion-item>

      <ion-button class="full" (click)="submit()">submit</ion-button>
    </ion-card>
    <ion-card *ngIf="islooaded">
      <ion-item style="background-color: chartreuse;text-align: center;">
        <ion-label position="floating">
          <h1>You have loaded successfuly </h1>
        </ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <br />
              <strong>Name :</strong> {{portHole.fullnames}} <br />
              <strong>Cell :</strong> {{portHole.cellnumber}} <br />
              <strong>Complaint :</strong> {{portHole.issueType}} <br />
              <strong>Road type :</strong> {{portHole.roadType}} <br />
              <strong>Province :</strong> {{getProvinceNamebyId(portHole.location.province)}} <br />
              <strong>City :</strong> {{getCityNamebyId(portHole.location.city)}} <br />
              <strong>Manucipality :</strong> {{getManucipalityNamebyId(portHole.location.manucipality)}} <br />
              <br />
            </div>
          </ion-col>
          <ion-col *ngIf="portHole.picture !== null">
            <div>
              <img src={{url}} style="height: 90px; width: 90px;">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-card>
</ion-content>